#Header{
    display: flex;
    height: 19%;
    justify-content: space-around;
    box-shadow: 2px 1px 2px 1px gray;
    margin-bottom: 5px;
    align-items: center;
    background-image: linear-gradient(rgb(255 0 0 / 20%),white);
}
#HeaderTxt{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4A99D3;
    font-size: 27px;
}
#HeaderRDS{
    display: flex;
    width: 24%;
    height: 76%;
    justify-content: space-evenly;
    align-items: center;
}
#RegisteradnLogin{
    width: 48%;
    display: flex;
    height: 30%;
    justify-content: space-evenly;
    align-items: center;
}
#Sell{
    display: flex;
    align-items: center;
    width: 37%;
}
/*  */
#ProfileDiv{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#ProfileCenter{
    height: 80%;
    width: 86%;
    display: flex;
    background: #EAF6FF;
    flex-direction: column;
}
#Top{
    display: flex;
    width: 100%;
    height: 50%;
}
#Character{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 34%;
}
#Charimg{
    height: 58%;
}
#More{
    display: flex;
    justify-content: space-evenly;
    width: 67%;
    align-items: center;
    height: 32%;
}
#Moreimg{
    height: 42%;
}
#Ads{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #004B84;
}
#Edit{
    height: 42%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9D9D9;
    border-radius: 20px;
    color: #004B84;
    font-size: 19px;
}
#NameChar{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #004B84;
}
#Time{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: rgba(0, 75, 132, 0.5);
}
#ForInput{
    height: 100%;
    display: flex;
    justify-content: center;
}
#InputCenter{
    display: flex;
    width: 78%;
    flex-direction: column;
    justify-content: space-evenly;
}
#Allinput{
    border: none;
    outline: none;
    background: none;
    box-shadow: 0px 1px 0px 0px gray;
    width: 100%;
}
